{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>Compitiondemande</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ compitiondemande.username }}</td>
            </tr>
            <tr>
                <th>Titre de Competition</th>
                <td>{{ compitiondemande.competitiontitre }}</td>
            </tr>
            <tr>
                <th>Note de Cv</th>
                <td>{{ compitiondemande.usercv }}%</td>
            </tr>

        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('admin_compitiondemande_index') }}">retourner à la list</a>
        </li>

        <li>
            <a href="{{ path('admin_compitiondemande_decision', { 'id': compitiondemande.id })}}">accepter le demande</a>
        </li>


    </ul>
{% endblock %}
