{% extends 'base.html.twig' %}
{% block body %}
    <center>
    <h1>Competition</h1>
        <div class="center">
    <table class="table">
        <tbody>
            <tr>
                <th>Idcmpt</th>
                <td>{{ competition.idCmpt }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ competition.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ competition.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competition.description }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if competition.dateCreate %}{{ competition.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if competition.dateStart %}{{ competition.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if competition.dateFin %}{{ competition.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ competition.ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ competition.adresse }}</td>
            </tr>
            <tr>
                <th>Codepost</th>
                <td>{{ competition.codePost }}</td>
            </tr>
            <tr>
                <th>Nbrpart</th>
                <td>{{ competition.nbrPart }}</td>
            </tr>
            <tr>
                <th>Prize</th>
                <td>{{ competition.prize }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ competition.media }}</td>
            </tr>
        </tbody>
    </table>
            <span>Nombre des vues :{{ competition.nbviewrs }}</span>
    <ul>
        <li>
            <a href="{{ path('competition_index') }}">Retourner à la list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('competition_edit', { 'idCmpt': competition.idCmpt }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
        </div>
    </center>
{% endblock %}
